@mixin box-sizing {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}

* { @include box-sizing; }

h1 {
    font-family: Lobster, cursive;
    font-size: 48px;
    text-align: center;
    text-shadow: 1px 2px gainsboro;

}

h2 {
   font-family: Lobster, cursive;
  font-size: 36px;
  text-align: center;
  text-shadow: 1px 2px gainsboro;
}

h3 {
    font-family: Lobster, cursive;
  font-size: 24px;
  text-align: center;
  text-shadow: 1px 2px gainsboro;
}

main {
    max-width: 960px;
    margin: 0 auto;
    /*font-family: 'Open Sans',Arial,sans-serif;*/
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 1.5;
    font-size: 14px;
    color: #4d4e53
    }